# Ignore the __pycache__ folder and it's contents
__pycache__/
__pycache__/*

# Ignore the test.py, this is not for all publics
test.py

# FUCKING, THUMB.DBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Thumbs.db
*.db
